In [1]:
import pandas as pd
import numpy as np
# cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other','All']
cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other']
cities_car=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Paris','Toulouse','France_other','Germany_other','All']

In [2]:
cities=[]

dist_agg_ml=[]
dist_agg_lr=[]

dist_comm_ml=[]
dist_comm_lr=[]

carown_ml=[]
carown_lr=[]

mode_ml=[]
mode_lr=[]

In [3]:
cities_list=pd.Series(['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Madrid','Paris','Germany_other'])
for city in cities_list:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_new_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Madrid
Paris
Germany_other

In [4]:
for city in cities_all:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_new_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Dijon
Lille
Lyon
Montpellier
Nantes
Nimes
Paris
Toulouse
Madrid
Wien
France_other
Germany_other

In [5]:
for city in cities_car:
    print(city)

    fp='../outputs/ML_Results/' + city + '_HPO_carown_new_summary.csv'
    carown=pd.read_csv(fp)

    carown_ml.append(round(carown['F1_full_ML'][0],3))
    carown_lr.append(round(carown['F1_full_LR'][0],3))

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Paris
Toulouse
France_other
Germany_other
All

In [6]:
carown_df=pd.DataFrame({'city':cities_car,'car_own_F1_ML':carown_ml,'car_own_F1_LR':carown_lr})
carown_df

                 city  car_own_F1_ML  car_own_F1_LR
0              Berlin          0.758          0.738
1             Dresden          0.811          0.784
2          Düsseldorf          0.797          0.796
3   Frankfurt am Main          0.791          0.797
4              Kassel          0.829          0.826
5             Leipzig          0.769          0.747
6           Magdeburg          0.812          0.796
7             Potsdam          0.767          0.773
8            Clermont          0.830          0.839
9               Paris          0.758          0.743
10           Toulouse          0.846          0.843
11       France_other          0.844          0.843
12      Germany_other          0.808          0.785
13                All          0.783          0.756

In [7]:
# another temp new one
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.780,0.813,0.145,0.140,0.676,0.624
1,Dresden,0.257,0.117,-0.064,-0.010,0.681,0.616
2,Düsseldorf,0.166,-0.103,0.030,0.029,0.647,0.599
3,Frankfurt am Main,0.034,-0.791,-0.082,-0.012,0.657,0.545
4,Kassel,-0.746,-11.689,-0.099,-0.017,0.681,0.623
5,Leipzig,0.479,0.293,0.021,0.035,0.679,0.639
6,Magdeburg,-0.018,-5.472,-0.008,0.039,0.687,0.605
7,Potsdam,-1.090,-8.901,-0.041,-0.007,0.654,0.610
8,Madrid,0.672,0.669,0.173,0.134,0.729,0.685
9,Paris,0.500,0.578,0.128,0.091,0.790,0.620
10,Germany_other,0.163,0.105,0.052,0.022,0.668,0.617
11,Berlin,0.780,0.813,0.145,0.140,0.676,0.624
12,Dresden,0.257,0.117,-0.064,-0.010,0.681,0.616
13,Düsseldorf,0.166,-0.103,0.030,0.029,0.647,0.599
14,Frankfurt am Main,0.034,-0.791,-0.082,-0.012,0.657,0.545
15,Kassel,-0.746,-11.689,-0.099,-0.017,0.681,0.623
16,Leipzig,0.479,0.293,0.021,0.035,0.679,0.639
17,Magdeburg,-0.018,-5.472,-0.008,0.039,0.687,0.605
18,Potsdam,-1.090,-8.901,-0.041,-0.007,0.654,0.610
19,Clermont,0.111,0.138,0.221,0.252,0.918,0.654
20,Dijon,0.505,0.627,0.137,0.210,0.875,0.627
21,Lille,0.172,0.268,0.117,0.103,0.904,0.732
22,Lyon,0.425,0.467,0.160,0.151,0.871,0.751
23,Montpellier,0.700,0.769,0.207,0.207,0.873,0.715
24,Nantes,0.652,0.666,0.184,0.175,0.856,0.753
25,Nimes,0.345,-0.640,0.167,0.185,0.910,0.617
26,Paris,0.500,0.578,0.128,0.091,0.790,0.620
27,Toulouse,0.406,0.545,0.175,0.155,0.866,0.760
28,Madrid,0.672,0.669,0.173,0.134,0.729,0.685
29,Wien,0.493,0.420,0.085,0.110,0.685,0.668
30,France_other,0.407,0.445,0.213,0.178,0.883,0.763
31,Germany_other,0.163,0.105,0.052,0.022,0.668,0.617

In [7]:
# temp new one
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.791,0.817,0.146,0.140,0.676,0.625
1,Dresden,0.300,0.299,-0.072,-0.012,0.685,0.617
2,Düsseldorf,0.265,-0.033,0.027,0.029,0.652,0.600
3,Frankfurt am Main,-0.073,-0.177,-0.107,-0.015,0.659,0.582
4,Kassel,-0.608,-116.926,-0.096,-0.021,0.684,0.626
5,Leipzig,0.405,0.352,0.021,0.034,0.683,0.638
6,Magdeburg,0.140,-8.121,-0.018,0.038,0.694,0.637
7,Potsdam,-0.938,-6.040,-0.038,-0.007,0.664,0.608
8,Madrid,0.667,0.672,0.174,0.138,0.729,0.685
9,Paris,0.499,0.584,0.126,0.091,0.791,0.669
10,Germany_other,0.187,0.097,0.055,0.023,0.668,0.616

In [7]:
#new one
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.791,0.817,0.146,0.140,0.676,0.624
1,Dresden,0.300,0.299,-0.072,-0.012,0.681,0.616
2,Düsseldorf,0.265,-0.033,0.027,0.029,0.652,0.600
3,Frankfurt am Main,-0.073,-0.177,-0.107,-0.015,0.660,0.584
4,Kassel,-0.608,-116.926,-0.096,-0.021,0.679,0.626
5,Leipzig,0.405,0.352,0.021,0.034,0.685,0.638
6,Magdeburg,0.140,-8.121,-0.018,0.038,0.693,0.636
7,Potsdam,-0.938,-6.040,-0.038,-0.007,0.651,0.608
8,Clermont,-0.014,0.190,0.233,0.262,0.912,0.689
9,Dijon,0.548,0.629,0.134,0.208,0.876,0.732
10,Lille,0.199,0.280,0.119,0.106,0.905,0.735
11,Lyon,0.444,0.421,0.150,0.148,0.872,0.711
12,Montpellier,0.741,0.790,0.215,0.207,0.876,0.744
13,Nantes,0.641,0.683,0.182,0.174,0.858,0.728
14,Nimes,0.252,0.276,0.184,0.181,0.905,0.649
15,Paris,0.499,0.584,0.126,0.091,0.791,0.722
16,Toulouse,0.479,0.539,0.175,0.154,0.860,0.681
17,Madrid,0.670,0.674,0.174,0.138,0.730,0.685
18,Wien,0.493,0.420,0.087,0.110,0.689,0.662
19,France_other,0.408,0.451,0.214,0.180,0.883,0.763
20,Germany_other,0.187,0.097,0.055,0.023,0.669,0.616

In [15]:
# old one
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.809,0.832,0.180,0.167,0.676,0.624
1,Dresden,0.272,0.295,-0.008,-0.011,0.681,0.616
2,Düsseldorf,0.449,0.469,0.113,0.029,0.651,0.601
3,Frankfurt am Main,-0.034,-0.578,-0.041,0.013,0.660,0.584
4,Kassel,-0.393,-35.304,-0.034,-0.008,0.679,0.626
5,Leipzig,0.629,-1.280,0.065,0.079,0.685,0.638
6,Magdeburg,0.235,-17.547,0.020,0.038,0.693,0.636
7,Potsdam,-0.167,-14.430,0.077,-0.013,0.651,0.608
8,Clermont,0.252,0.309,0.231,0.254,0.912,0.689
9,Dijon,0.617,0.796,0.137,0.205,0.876,0.732
10,Lille,0.218,0.243,0.109,0.105,0.905,0.735
11,Lyon,0.383,0.413,0.160,0.152,0.872,0.711
12,Montpellier,0.602,0.636,0.211,0.206,0.876,0.744
13,Nantes,0.670,0.739,0.180,0.174,0.858,0.728
14,Nimes,0.621,0.513,0.133,0.183,0.905,0.649
15,Paris,0.599,0.651,0.195,0.147,0.791,0.722
16,Toulouse,0.460,0.533,0.171,0.154,0.860,0.681
17,Madrid,0.692,0.673,0.174,0.138,0.730,0.685
18,Wien,0.183,0.431,0.116,0.135,0.689,0.662
19,France_other,0.448,0.450,0.216,0.181,0.883,0.763
20,Germany_other,0.394,0.285,0.112,0.031,0.669,0.616
21,All,0.586,0.559,0.182,0.138,0.758,0.679

In [16]:
summ_df=summ_df.merge(carown_df,how='outer')
summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR,car_own_F1_ML,car_own_F1_LR
0,Berlin,0.809,0.832,0.180,0.167,0.676,0.624,0.758,0.745
1,Dresden,0.272,0.295,-0.008,-0.011,0.681,0.616,0.815,0.795
2,Düsseldorf,0.449,0.469,0.113,0.029,0.651,0.601,0.800,0.800
3,Frankfurt am Main,-0.034,-0.578,-0.041,0.013,0.660,0.584,0.794,0.791
4,Kassel,-0.393,-35.304,-0.034,-0.008,0.679,0.626,0.835,0.828
5,Leipzig,0.629,-1.280,0.065,0.079,0.685,0.638,0.770,0.762
6,Magdeburg,0.235,-17.547,0.020,0.038,0.693,0.636,0.809,0.813
7,Potsdam,-0.167,-14.430,0.077,-0.013,0.651,0.608,0.758,0.793
8,Clermont,0.252,0.309,0.231,0.254,0.912,0.689,0.832,0.843
9,Dijon,0.617,0.796,0.137,0.205,0.876,0.732,NaN,NaN
10,Lille,0.218,0.243,0.109,0.105,0.905,0.735,NaN,NaN
11,Lyon,0.383,0.413,0.160,0.152,0.872,0.711,NaN,NaN
12,Montpellier,0.602,0.636,0.211,0.206,0.876,0.744,NaN,NaN
13,Nantes,0.670,0.739,0.180,0.174,0.858,0.728,NaN,NaN
14,Nimes,0.621,0.513,0.133,0.183,0.905,0.649,NaN,NaN
15,Paris,0.599,0.651,0.195,0.147,0.791,0.722,0.760,0.749
16,Toulouse,0.460,0.533,0.171,0.154,0.860,0.681,0.849,0.849
17,Madrid,0.692,0.673,0.174,0.138,0.730,0.685,NaN,NaN
18,Wien,0.183,0.431,0.116,0.135,0.689,0.662,NaN,NaN
19,France_other,0.448,0.450,0.216,0.181,0.883,0.763,0.851,0.846
20,Germany_other,0.394,0.285,0.112,0.031,0.669,0.616,0.809,0.797
21,All,0.586,0.559,0.182,0.138,0.758,0.679,0.785,0.762

In [17]:
summ_df.to_csv('../outputs/ML_Results/accuracy_all.csv',index=False)