In [1]:
import pandas as pd
import numpy as np
cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other','All']
cities_car=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Paris','Toulouse','France_other','Germany_other','All']

In [2]:
cities=[]

dist_agg_ml=[]
dist_agg_lr=[]

dist_comm_ml=[]
dist_comm_lr=[]

carown_ml=[]
carown_lr=[]

mode_ml=[]
mode_lr=[]

In [3]:
for city in cities_all:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Dijon
Lille
Lyon
Montpellier
Nantes
Nimes
Paris
Toulouse
Madrid
Wien
France_other
Germany_other
All

In [4]:
for city in cities_car:
    print(city)

    fp='../outputs/ML_Results/' + city + '_HPO_carown_summary.csv'
    carown=pd.read_csv(fp)

    carown_ml.append(round(carown['F1_full_ML'][0],3))
    carown_lr.append(round(carown['F1_full_LR'][0],3))

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Paris
Toulouse
France_other
Germany_other
All

In [5]:
carown_df=pd.DataFrame({'city':cities_car,'car_own_F1_ML':carown_ml,'car_own_F1_LR':carown_lr})
carown_df

                 city  car_own_F1_ML  car_own_F1_LR
0              Berlin          0.758          0.747
1             Dresden          0.805          0.801
2          Düsseldorf          0.801          0.802
3   Frankfurt am Main          0.790          0.776
4              Kassel          0.829          0.836
5             Leipzig          0.773          0.760
6           Magdeburg          0.819          0.821
7             Potsdam          0.767          0.804
8            Clermont          0.839          0.843
9               Paris          0.760          0.746
10           Toulouse          0.848          0.845
11       France_other          0.848          0.847
12      Germany_other          0.807          0.794
13                All          0.786          0.762

In [6]:
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.808,0.832,0.179,0.168,0.675,0.624
1,Dresden,0.340,0.198,-0.007,-0.010,0.689,0.616
2,Düsseldorf,0.452,0.469,0.108,0.029,0.652,0.600
3,Frankfurt am Main,-0.001,-0.778,-0.035,0.013,0.668,0.582
4,Kassel,-0.393,-29.032,-0.044,-0.011,0.685,0.651
5,Leipzig,0.608,-1.287,0.060,0.077,0.684,0.639
6,Magdeburg,0.167,-2.181,0.009,0.039,0.692,0.605
7,Potsdam,-0.143,-14.340,0.068,-0.013,0.661,0.608
8,Clermont,0.248,0.272,0.223,0.253,0.913,0.604
9,Dijon,0.669,0.785,0.136,0.202,0.877,0.705
10,Lille,0.218,0.229,0.117,0.104,0.904,0.798
11,Lyon,0.376,0.407,0.157,0.151,0.870,0.751
12,Montpellier,0.607,0.630,0.216,0.205,0.875,0.740
13,Nantes,0.660,0.735,0.193,0.173,0.856,0.725
14,Nimes,0.688,0.763,0.168,0.191,0.909,0.577
15,Paris,0.598,0.646,0.195,0.148,0.790,0.671
16,Toulouse,0.460,0.528,0.177,0.154,0.861,0.707
17,Madrid,0.691,0.673,0.173,0.138,0.728,0.683
18,Wien,0.176,0.422,0.115,0.134,0.686,0.661
19,France_other,0.446,0.458,0.219,0.182,0.883,0.763
20,Germany_other,0.394,0.343,0.110,0.032,0.667,0.616
21,All,0.591,0.560,0.181,0.138,0.758,0.678

In [7]:
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.808,0.832,0.179,0.168,0.675,0.624
1,Dresden,0.340,0.198,-0.007,-0.010,0.689,0.616
2,Düsseldorf,0.452,0.469,0.108,0.029,0.652,0.600
3,Frankfurt am Main,-0.001,-0.778,-0.035,0.013,0.668,0.582
4,Kassel,-0.393,-29.032,-0.044,-0.011,0.685,0.651
5,Leipzig,0.608,-1.287,0.060,0.077,0.684,0.639
6,Magdeburg,0.167,-2.181,0.009,0.039,0.692,0.605
7,Potsdam,-0.143,-14.340,0.068,-0.013,0.661,0.608
8,Clermont,0.248,0.272,0.223,0.253,0.913,0.604
9,Dijon,0.669,0.785,0.136,0.202,0.877,0.705
10,Lille,0.218,0.229,0.117,0.104,0.904,0.798
11,Lyon,0.376,0.407,0.157,0.151,0.870,0.751
12,Montpellier,0.607,0.630,0.216,0.205,0.875,0.740
13,Nantes,0.660,0.735,0.193,0.173,0.856,0.725
14,Nimes,0.688,0.763,0.168,0.191,0.909,0.577
15,Paris,0.598,0.646,0.195,0.148,0.790,0.671
16,Toulouse,0.460,0.528,0.177,0.154,0.861,0.707
17,Madrid,0.691,0.673,0.173,0.138,0.728,0.683
18,Wien,0.176,0.422,0.115,0.134,0.686,0.661
19,France_other,0.446,0.458,0.219,0.182,0.883,0.763
20,Germany_other,0.394,0.343,0.110,0.032,0.667,0.616
21,All,0.591,0.560,0.181,0.138,0.758,0.678

In [8]:
summ_df=summ_df.merge(carown_df,how='outer')
summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR,car_own_F1_ML,car_own_F1_LR
0,Berlin,0.808,0.832,0.179,0.168,0.675,0.624,0.758,0.747
1,Dresden,0.340,0.198,-0.007,-0.010,0.689,0.616,0.805,0.801
2,Düsseldorf,0.452,0.469,0.108,0.029,0.652,0.600,0.801,0.802
3,Frankfurt am Main,-0.001,-0.778,-0.035,0.013,0.668,0.582,0.790,0.776
4,Kassel,-0.393,-29.032,-0.044,-0.011,0.685,0.651,0.829,0.836
5,Leipzig,0.608,-1.287,0.060,0.077,0.684,0.639,0.773,0.760
6,Magdeburg,0.167,-2.181,0.009,0.039,0.692,0.605,0.819,0.821
7,Potsdam,-0.143,-14.340,0.068,-0.013,0.661,0.608,0.767,0.804
8,Clermont,0.248,0.272,0.223,0.253,0.913,0.604,0.839,0.843
9,Dijon,0.669,0.785,0.136,0.202,0.877,0.705,NaN,NaN
10,Lille,0.218,0.229,0.117,0.104,0.904,0.798,NaN,NaN
11,Lyon,0.376,0.407,0.157,0.151,0.870,0.751,NaN,NaN
12,Montpellier,0.607,0.630,0.216,0.205,0.875,0.740,NaN,NaN
13,Nantes,0.660,0.735,0.193,0.173,0.856,0.725,NaN,NaN
14,Nimes,0.688,0.763,0.168,0.191,0.909,0.577,NaN,NaN
15,Paris,0.598,0.646,0.195,0.148,0.790,0.671,0.760,0.746
16,Toulouse,0.460,0.528,0.177,0.154,0.861,0.707,0.848,0.845
17,Madrid,0.691,0.673,0.173,0.138,0.728,0.683,NaN,NaN
18,Wien,0.176,0.422,0.115,0.134,0.686,0.661,NaN,NaN
19,France_other,0.446,0.458,0.219,0.182,0.883,0.763,0.848,0.847
20,Germany_other,0.394,0.343,0.110,0.032,0.667,0.616,0.807,0.794
21,All,0.591,0.560,0.181,0.138,0.758,0.678,0.786,0.762

In [9]:
summ_df.to_csv('../outputs/ML_Results/accuracy_all.csv',index=False)