In [1]:
import pandas as pd
import numpy as np
cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other']
cities_car=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Paris','Toulouse','France_other','Germany_other']

In [2]:
cities=[]

dist_agg_ml=[]
dist_agg_lr=[]

dist_comm_ml=[]
dist_comm_lr=[]

carown_ml=[]
carown_lr=[]

mode_ml=[]
mode_lr=[]

In [3]:
for city in cities_all:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Dijon
Lille
Lyon
Montpellier
Nantes
Nimes
Paris
Toulouse
Madrid
Wien
France_other
Germany_other

In [4]:
for city in cities_car:
    print(city)

    fp='../outputs/ML_Results/' + city + '_HPO_carown_summary.csv'
    carown=pd.read_csv(fp)

    carown_ml.append(round(carown['F1_full_ML'][0],3))
    carown_lr.append(round(carown['F1_full_LR'][0],3))

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Paris
Toulouse
France_other
Germany_other

In [5]:
carown_df=pd.DataFrame({'city':cities_car,'car_own_F1_ML':carown_ml,'car_own_F1_LR':carown_lr})
carown_df

                 city  car_own_F1_ML  car_own_F1_LR
0              Berlin          0.739          0.726
1             Dresden          0.776          0.761
2          Düsseldorf          0.743          0.743
3   Frankfurt am Main          0.737          0.725
4              Kassel          0.818          0.799
5             Leipzig          0.740          0.739
6           Magdeburg          0.788          0.788
7             Potsdam          0.733          0.751
8            Clermont          0.835          0.841
9               Paris          0.759          0.746
10           Toulouse          0.848          0.844
11       France_other          0.846          0.843
12      Germany_other          0.769          0.755

In [6]:
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.808,0.832,0.180,0.168,0.686,0.640
1,Dresden,0.340,0.198,-0.014,-0.005,0.693,0.636
2,Düsseldorf,0.452,0.469,0.108,0.031,0.663,0.615
3,Frankfurt am Main,-0.001,-0.778,-0.040,0.017,0.657,0.596
4,Kassel,-0.393,-29.032,-0.034,-0.005,0.688,0.634
5,Leipzig,0.608,-1.287,0.086,0.083,0.704,0.655
6,Magdeburg,0.167,-2.181,0.016,0.033,0.703,0.649
7,Potsdam,-0.143,-14.340,0.077,-0.007,0.672,0.622
8,Clermont,0.248,0.272,0.228,0.255,0.915,0.725
9,Dijon,0.669,0.785,0.137,0.218,0.874,0.704
10,Lille,0.218,0.229,0.115,0.104,0.903,0.798
11,Lyon,0.376,0.407,0.159,0.152,0.872,0.752
12,Montpellier,0.607,0.630,0.217,0.200,0.877,0.743
13,Nantes,0.660,0.735,0.192,0.174,0.857,0.727
14,Nimes,0.688,0.763,0.168,0.184,0.906,0.508
15,Paris,0.598,0.646,0.195,0.148,0.790,0.671
16,Toulouse,0.460,0.528,0.180,0.155,0.863,0.675
17,Madrid,0.691,0.673,0.174,0.137,0.728,0.683
18,Wien,0.176,0.422,0.117,0.137,0.699,0.678
19,France_other,0.446,0.458,0.220,0.182,0.883,0.763
20,Germany_other,0.394,0.343,0.113,0.032,0.680,0.630

In [9]:
summ_df=summ_df.merge(carown_df,how='outer')
summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR,car_own_F1_ML,car_own_F1_LR
0,Berlin,0.808,0.832,0.180,0.168,0.686,0.640,0.739,0.726
1,Dresden,0.340,0.198,-0.014,-0.005,0.693,0.636,0.776,0.761
2,Düsseldorf,0.452,0.469,0.108,0.031,0.663,0.615,0.743,0.743
3,Frankfurt am Main,-0.001,-0.778,-0.040,0.017,0.657,0.596,0.737,0.725
4,Kassel,-0.393,-29.032,-0.034,-0.005,0.688,0.634,0.818,0.799
5,Leipzig,0.608,-1.287,0.086,0.083,0.704,0.655,0.740,0.739
6,Magdeburg,0.167,-2.181,0.016,0.033,0.703,0.649,0.788,0.788
7,Potsdam,-0.143,-14.340,0.077,-0.007,0.672,0.622,0.733,0.751
8,Clermont,0.248,0.272,0.228,0.255,0.915,0.725,0.835,0.841
9,Dijon,0.669,0.785,0.137,0.218,0.874,0.704,NaN,NaN
10,Lille,0.218,0.229,0.115,0.104,0.903,0.798,NaN,NaN
11,Lyon,0.376,0.407,0.159,0.152,0.872,0.752,NaN,NaN
12,Montpellier,0.607,0.630,0.217,0.200,0.877,0.743,NaN,NaN
13,Nantes,0.660,0.735,0.192,0.174,0.857,0.727,NaN,NaN
14,Nimes,0.688,0.763,0.168,0.184,0.906,0.508,NaN,NaN
15,Paris,0.598,0.646,0.195,0.148,0.790,0.671,0.759,0.746
16,Toulouse,0.460,0.528,0.180,0.155,0.863,0.675,0.848,0.844
17,Madrid,0.691,0.673,0.174,0.137,0.728,0.683,NaN,NaN
18,Wien,0.176,0.422,0.117,0.137,0.699,0.678,NaN,NaN
19,France_other,0.446,0.458,0.220,0.182,0.883,0.763,0.846,0.843
20,Germany_other,0.394,0.343,0.113,0.032,0.680,0.630,0.769,0.755

In [11]:
summ_df.to_csv('../outputs/ML_Results/accuracy_all.csv',index=False)